* {
    box-sizing: border-box;
}
body {
    /* background-image: url(https://wallpaperscraft.com/image/triangle_shape_dark_figure_88540_1920x1080.jpg);
    background-size: cover; */
    font: 400 15px/1.8 Lato, sans-serif;
}
#HeaderNav {
    text-decoration: none;
    border-radius: 0;
    height: 100px;
    background-color: transparent;
}
#headerLink {
    text-decoration: none;
    display: inline-block;
}
#Icon {
    height: 70px;
    width: 70px;
    position: relative;
    top: -15px; 
    float: left;
}
/* .btn {
    position: relative;
} */
#NavTab {
    text-align: center;
    top: 14px;
}
a, a:hover {
    color: goldenrod;
    text-decoration: none;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: goldenrod;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); 
    width: 100%;
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
.modal-header, .modal-body {
    padding: 40px 50px;
}
#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
} 
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
} 
.nav-tabs li a {
    color: goldenrod;
}
.navbar li a, .navbar .navbar-brand { 
    color: goldenrod !important;
}
.navbar-nav li a:hover {
    color: goldenrod !important;
}
.navbar-nav li.active a {
    color: goldenrod !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}